<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="https://raw.githubusercontent.com/ZIoT-Systems/ZIoT-Systems.github.io/main/assets/img/logoZZ.png">
    <!-- Emailjs -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script type="text/javascript">
        (function () {
            // https://dashboard.emailjs.com/admin/account
            emailjs.init('HcZJ8F43t5hLFT5FI');
        })();
    </script>
    <script type="text/javascript">
        window.onload = function () {
            document.getElementById('contact-form').addEventListener('submit', function (event) {
                var firstName = document.getElementById("inputFirstName").value;
                var lastName = document.getElementById("inputLastName").value;
                var email = document.getElementById("inputEmail1").value;
                //  check for null
                if (!firstName || !lastName || !email) {
                    alert("Error With User Data!\nPlease try again");
                    return;
                }
                event.preventDefault();
                console.log('listener triggerd');
                emailjs.sendForm('service_nr6kcbi', 'ziot_template', this)
                    .then(function () {
                        console.log('SUCCESS!');
                        alert("Thank You!\n We Will Respond Shortly");
                    }, function (error) {
                        console.log('FAILED...', error);
                    });
            });
        }
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JWQ5MWZHPH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-JWQ5MWZHPH');
    </script>
    <title>ZIoT Systems 2024</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#topHome">
            <!-- Might be an issue with token, since this repo is private-->
            <img src="https://raw.githubusercontent.com/jglatts/linear-clamp-analysis/main/logoZZNOBG.png" alt="..." height="95">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> <!-- Icon here -->
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#topHome">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#aboutUsAnchor">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#demoAnchor">Request Demo</a>
                </li>
            </ul>
        </div>
    </nav>

    <br>

    <section class="bg" id="topHome">
        <div class="container text-center">
            <h1 style="font-size: 55px">ZIoT Systems</h1>
            <h3>Advanced Embedded Solutions</h3>
            <br>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        At ZIoT Systems, <b>our advanced embedded solutions</b> redefine ease and effectiveness.
                        Our platform goes beyond the basics, ensuring an unparalleled depth of functionality across all your devices.
                        Whether you're safeguarding industrial equipment or enhancing the efficiency of your home, <b>detecting potential defects early on</b> is at the core of what we do.
                        <br>
                        <br>
                        Priced competitively, our systems offer exceptional value, and with <br> <b>plug-and-play simplicity</b> designed into their core.
                        Monitoring your equipment – whether it's in an industrial setting or your home – is a quick and hassle-free process.
                        Embrace the future of unified monitoring and automation with ZIoT Systems.
                        <br>
                        <br>
                        <h5>Typical Monitoring Applications</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-action">CNC Machines</li>
                            <li class="list-group-item list-group-item-action">3D Printers</li>
                            <li class="list-group-item list-group-item-action">Conveyor Systems</li>
                            <li class="list-group-item list-group-item-action">Industrial Ovens</li>
                            <li class="list-group-item list-group-item-action">Milling Machines</li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-6 bg-image hover-zoom">
                    <img class="img-fluid" src="https://raw.githubusercontent.com/jglatts/linear-clamp-analysis/main/Untitled%20design.png">
                </div>
            </div>
        </div>
    </section>

    <br>
    <br>

    <section class="bg-light" id="aboutUsAnchor">
        <br>
        <div class="container text-center">
            <h1>About Us</h1>
            <br>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <!---- <img class="img-fluid" src="https://raw.githubusercontent.com/jglatts/linear-clamp-analysis/main/Modern%20illustrated%20Programming%20and%20Software%20Instagram%20Post%20%20(5)%20(1).png"> -->
                    <img class="img-fluid" src="https://raw.githubusercontent.com/ZIoT-Systems/ZIoT-Systems.github.io/main/New%20devices%20(3)%20(1).png">
                </div>
                <div class="col-md-6">
                    <p>
                        ZIoT Systems is a team of dedicated experts with diverse backgrounds in IoT, engineering, software development, and design.
                        We bring together a wealth of knowledge and experience to deliver tailor-made solutions that address the unique needs of our customers.
                        <br>
                        <br>
                        Our core focus is on developing end-to-end IoT solutions that streamline operations, reduce costs, and enhance productivity.
                        Whether you're a large enterprise seeking to optimize your supply chain or a maker looking to make your projects more intelligent, we have the expertise and experience to make it happen.
                        <br>
                        <br>
                        We understand that every enterprise, every project, is different – and that's where our tailored approach shines. From optimizing supply chains for large enterprises to providing
                        innovative solutions for makers looking to bring intelligence to their projects, our expertise delivers customized solutions that resonate with the vision of our clients.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <br>
    <br>

    <section id="features" class="bg">
        <div class="container text-center">
            <h1>Features and Benefits</h1>
        </div>
        <br>
        <div class="container text-center">
            <div class="row ">
                <div class="col-lg-3  bg-image hover-zoom">
                    <img height="145" src="https://raw.githubusercontent.com/jglatts/linear-clamp-analysis/main/fast-icon.png">
                    <p>Fast Setup</p>
                </div>
                <div class="col-lg-3 bg-image hover-zoom">
                    <img height="145" src="https://raw.githubusercontent.com/jglatts/linear-clamp-analysis/main/plug-and-play.png">
                    <p>Quick Plug and Play</p>
                </div>
                <div class="col-lg-3 bg-image hover-zoom">
                    <img height="145" src="https://raw.githubusercontent.com/jglatts/linear-clamp-analysis/main/ecosystem-icon.png">
                    <p>Extensive Device Ecosystem</p>
                </div>
                <div class="col-lg-3 bg-image hover-zoom">
                    <img height="145" src="https://raw.githubusercontent.com/jglatts/linear-clamp-analysis/main/docs-icon.png">
                    <p>Informative Documation and Communtiy</p>
                </div>
            </div>
        </div>
    </section>

    <br>
    <br>

    <section id="testimonials" class="">
        <div class="container text-center">
            <h1>User Testimonals</h1>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>

        <section class="bg-light" id="demoAnchor">
            <br>
            <div class="container text-center">
                <h2>Request A Free Demo</h2>
                <br>
                <form id="contact-form">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" id="inputFirstName" name="first_name" aria-describedby="emailHelp" placeholder="First Name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="lastNameName">Last Name</label>
                                <input type="text" class="form-control" id="inputLastName" name="last_name" aria-describedby="emailHelp" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" class="form-control" name="user_email" id="inputEmail1" aria-describedby="emailHelp" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Additional Questions</label>
                        <textarea class="form-control" id="inputTextarea1" name="message" rows="3"></textarea>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Submit">
                </form>
            </div>
            <br>
        </section>

        <br>
        <br>

        <!-- Footer -->
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <div class="col-md-4 d-flex align-items-center">
                    <span class="mb-3 mb-md-0 text-muted">Copyright 2024 ZIoT Automation Systems</span>
                    <span class="mb-3 mb-md-0 text-muted">Warminster, PA 18974, USA</span>
                </div>

                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="ms-3">
                        <a class="text-muted" href="https://www.linkedin.com/company/98969203/admin/feed/posts/?feedType=following">
                            <img src="https://content.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Bug.svg.original.svg" height="26">
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-muted" href="https://www.instagram.com/ziotsystems">
                            <img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Instagram_colored_svg_1-1024.png" height="26">
                        </a>
                    </li>
                </ul>
            </footer>
        </div>

        <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
        {% if site.google_analytics %}
        <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
        </script>
        {% endif %}

</body>
</html>